*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: rgb(255, 228, 232);
}
.Circle{
    height: 70vmin;
  width: 70vmin;
  border-radius: 50%;
  border: 15px double rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;


}
video{
    height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;

}
.clock-items{
     position: absolute;
  font-size: 35px;
  font-weight: 900;
  transform-origin: bottom;
  color: rgb(0, 0, 0);

}
#top{
    top: 20px;
}
#bottom{
    bottom: 20px;
}
#left{
    left: 20px;
}
#right{
    right: 20px;
}

#center{
    height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);

}
#second{
    height: 35%;
  width: 8px;
  background-color: rgb(0, 0, 0);
  bottom: 50%;
  clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 20%);
  animation: rotate 60s steps(60) infinite;

}

#minute{
    
    height: 30%;
  width: 8px;
  background-color: rgb(0, 0, 0);
  bottom: 50%;
  clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 20%);
  animation: rotate 3600s linear infinite;

}
#hour{
    height: 25%;
  width: 8px;
  background-color: rgb(0, 0, 0);
  bottom: 50%;
  clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0% 100%, 0% 15%);
  animation: rotate 43200s linear infinite;

}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


